<!DOCTYPE html>
 <html>
 <head>
 <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
 <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css'>
 <title>Title Caser 2000</title>
 </head>

 <body>
   <h1>It worked!</h1>
   <form action='/results'>
     <div class="form-group">
       <label for="title">Title you want CASED.</label>
       <input id="title" name="title" class="form-control" type="text">
     </div>
     <button type="submit" class="btn" id="case_button">CASE!</button>
   </form>
 </body>

 </html>
