<!DOCTYPE html>
 <html>
 <head>
 <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
 <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css'>
 <title>Title Caser 2000 - Results</title>
 </head>

 <body>
   <h1>Behold! Title Case!</h1>
   <p><%= @title %></p>
 </body>

 </html>
